DATABASE_URL=postgres://postgres:postgres@localhost:5432/vscode-server-tool             // necessary in development - ignored in production when using docker-compose.prod.yml
SESSION_SECRET=my-secret                                                                // necessary in development - optional when using the docker-compose.prod.yml
HOST=localhost                                                                          // optional when using the docker-compose.prod.yml
PORT=80                                                                                 // can only be used in development
PWD=aboslute_path_to_repository                                                         // only necessary on windows
